
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Allure
allure-results/
allure-report/
cucumber-report.html

# Trace files
*.zip

storageState.json